<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <th:block th:replace="~{fragments :: styles}"></th:block>
</head>

<body>
    <th:block th:replace="~{fragments :: navbar}"></th:block>

    <div class="container py-5 text-center">
        <h1>Best of the year by [[${username}]]</h1>

        <div class="container ">
            <div class="container p-0 border-black">
                <img th:src="@{/img/sample.png}" alt="sample" class="img-fluid w-100">
            </div>
            <div class="container border border-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, minus accusantium incidunt maiores earum voluptas quia, dolorum rem tempora maxime recusandae. Soluta magnam quaerat eum, vitae nostrum ex pariatur nulla? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum at, quaerat incidunt natus exercitationem quasi corporis vitae expedita fugit ipsum earum mollitia dignissimos ab ducimus, quisquam ipsa possimus laudantium optio? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio vel in non ducimus consectetur voluptatibus atque ab rem ratione minima reprehenderit nisi harum, impedit asperiores hic quas corporis, iure dicta.</div>
        </div>
    </div>

</body>

</html>